h1 {
    font-size: 29px;
}

h2 {
    font-size: 19px;
    margin-top: 8px;
    margin-bottom: 2px;
}

ul {
    padding: 1px;
    margin-top: 3px;
    margin-bottom: 9px;
}

li {
    padding: 2px 0 1px 0;
    font-size: 14px;
}


blockquote, .well {
    background: #f8f8f8;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    min-height: 20px;
    padding: 4px;
    margin: 1px;
    font-size: 14px;
}

blockquote>p, .well>p {
    margin: 1px;
}