<script type="text/javascript">
    function collection(contents) {
      let pages = [];
      let data = [];
      for (let i = 0; i < contents.length; i++) {
        e = contents[i];
        switch (e.tagName) {
          case 'H2':
            data.push({"name": e.id, "elements": [e]});
            break;
          case 'HR':
            pages.push(data);
            data = [];
            break;
          default:
            data[data.length - 1]["elements"].push(e)
        }
      }
      if (data.length) {
        pages.push(data)
      }
      return pages
    }

    function get_length(group) {
      let ret = 0;
      group["elements"].forEach(function (e) {
        switch (e.tagName) {
          case "H1":
            ret += 49;
            break;
          case "H2":
            ret += 30;
            break;
          case "UL":
            for (let l of e.children) {
              if (l.tagName === "LI") {ret += 26}
            }
            break;
          case "BLOCKQUOTE":
            ret += 30;
            break;
        }
      });
      return ret
    }

    function redistribution(data_arr) {
      let columns = [[], [], []];
      let length_sum = 0;
      for (let group of data_arr) {
        group['height'] = get_length(group);
        length_sum += group['height'];
      }
      let insert_index = 0;
      let record_lengh = 0;
      for (let group of data_arr) {
        if (record_lengh + (group['height'] / 2) > length_sum / 3 && insert_index < 2 && columns[insert_index].length) {
          insert_index++; record_lengh = 0;
        }
        columns[insert_index].push(group);
        record_lengh += group['height'];
        if (record_lengh > length_sum / 3 && insert_index < 2) {insert_index++; record_lengh = 0;
        }
      }
      return columns;
    }

    function deploy(parent, data) {
      for (let e of parent.children) {parent.removeChild(e)}
      for (let page_index in data) {
        let page = document.createElement("div");
        page.setAttribute("class", "grid-block");
        for (let column_index in data[page_index]) {
          let column = document.createElement("div");
          column.setAttribute("class", "grid-lg-1-3");
          for (let group of data[page_index][column_index]) {
            for (let e of group["elements"]) {
              column.appendChild(e);
            }
          }
          page.appendChild(column);
        }
        parent.appendChild(page);
        if (page_index < data.length - 1) 
          parent.appendChild(document.createElement("hr"));
      }
    }

    function pop_title_into_column() {
      const ct = document.getElementById('title-container');
      const title_div = document.getElementById("site-title");
      document.getElementById('container').removeChild(ct);
      return {"name": "title", "elements": [title_div]}
    }
    function getHashCode(str,caseSensitive){
        if(!caseSensitive){
            str = str.toLowerCase();
        }
        // 1315423911=b'1001110011001111100011010100111'
        var hash  =   1315423911,i,ch;
        for (i = str.length - 1; i >= 0; i--) {
            ch = str.charCodeAt(i);
            hash ^= ((hash << 5) + ch + (hash >> 2));
        }
        return  (hash & 0x7FFFFFFF);
    }

    let data = collection(document.getElementById('origin-content').children);
    if ("{{ page.style }}" === "compact") {
      data[0].unshift(pop_title_into_column());
    }
    for (let i = 0; i < data.length; i++) {
      data[i] = redistribution(data[i])
    }
    deploy(document.getElementById('commands-container'), data);

    var colors = {{ site.data.colors | jsonify }} ;
    var page_title = "{{ page.title }}" ;
    // colorfull title
    {% if page.title == "CookBook" %}
      // make title colorful
      var title_html = ''
      for (var i = 0; i < page_title.length; i++) {
        title_html += `<span style='color: ${colors[i]}'>${page_title[i]}</span>  `
      }
      var dom_h1 = document.getElementById('site-title')
      dom_h1.setAttribute('style', 'text-align: center;')
      var dom_a = dom_h1.children[0]
      dom_a.innerHTML = title_html
      // make title colorful by its hash
      for (let li of document.getElementsByTagName('LI')) {
        var par = li.children[0];
        if (par.children.length && par.children[0].tagName === "P") {
          li.children[0].children[0].setAttribute(
          'style', 
          `color: ${colors[getHashCode(li.textContent.trim(), false) % colors.length]}`
          )
        } else {
          li.children[0].setAttribute(
          'style', 
          `color: ${colors[getHashCode(li.textContent.trim(), false) % colors.length]}`
          )
          a = li.children[0];
          href = a.getAttribute('href');
          if (href) {
            match_obj = href.match(/\/([A-Za-z0-9_]+)\.html$/)

            {% assign image_files = site.static_files %}
            {% for myimage in image_files %}
            if (match_obj.length >= 2 && match_obj[1] == '{{ myimage.path | split: '/' | last | split: "." | first }}') {
                li.children[0].innerHTML = `<div class="icon-image" style="background-image: url({{ myimage.path | prepend: site.baseurl }});"></div>`
                              + li.children[0].innerHTML
            }
            {% endfor %}
          }
          
        }
        
      }
    {% else %}
      var dom_a = document.getElementById('site-title').children[0]
      dom_a.setAttribute(
          'style', 
          `color: ${colors[getHashCode(dom_a.textContent.trim(), false) % colors.length]}`
          )
    {% endif %}

</script>