<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Vim Cheat Sheet - 简体中文</title>
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1,user-scalable=yes">
    <meta name="description" content="A mobile friendly VIM cheat sheet">
    <link rel="shortcut icon" sizes="32x32" href="https://vim.rtorr.com/images/vim-cheat-sheet-icon-32.png">
    <meta name="theme-color" content="#FA4949">

    <link rel="stylesheet" href="{{ site.baseurl }}/css/style.css">
    <link rel="stylesheet" href="{{ site.baseurl }}/css/{{ page.style }}.css">

    <script>//console.log('a')
    </script>
    <script>//remove baidu search ad
    var _countAA = 0

    function doBBBd() {
      var alla = document.getElementsByTagName('a')
      for (var i = 0; i < alla.length; i++) {
        if (/baidu.com\/(baidu.php\?url=|adrc.php\?t)/.test(alla[i].href)) {
          var _temp = alla[i].parentElement, loop = 0
          while (loop < 5) {
            _temp = _temp.parentElement
            loop++
            if (_temp.parentElement.id == 'content_left') {
              _temp.remove()
              break
            }
          }
        }
      }

      if (_countAA++ < 20) {
        setTimeout(doBBBd, 500)
      }

    }

    doBBBd()
    document.addEventListener('keyup', function () {
      _countAA -= 10;
      doBBBd()
    }, false)
    document.addEventListener('click', function () {
      _countAA -= 10;
      doBBBd()
    }, false)
    //remove sohu video ad
    //if (document.URL.indexOf("tv.sohu.com") >= 0){
    //    if (document.cookie.indexOf("fee_status=true")==-1){document.cookie='fee_status=true'};
    //}
    //remove 56.com video ad
    //if (document.URL.indexOf("56.com") >= 0){
    //    if (document.cookie.indexOf("fee_status=true")==-1){document.cookie='fee_status=true'};
    //}
    </script>
</head>